.grid{
    display: flex;
    flex-wrap: wrap;
    width : 33.8%;
    position: relative;
    left : 33.5%;
    transform-origin: (50%,50%);
    justify-content: space-between;
    align-items: center;
}
.turn
{
    font-size: 2rem;
}